version: "3.8"

services:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: always
    pid: "host"
    network_mode: "host"
    volumes:
      - /:/host:ro,rslave
    command:
      - '--path.rootfs=/host'
